<!DOCTYPE html>
<html ng-app="module1">
<head>
	<title>User Profile</title>

		<link rel="stylesheet" type="text/css" href="main.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
</head>
<body ng-controller="modcontroller">
	<div>
		<img class="profilePic" src="http://static2.businessinsider.com/image/51dd6b0ceab8eaa223000013/chinas-panda-diplomacy-has-entered-a-lucrative-new-phase.jpg">
	</div>
	<div class="form">

		<form ng-submit="newInfo">

		<div class="name">
			<p ng-hide="nameHide" ng-click="nameClick()">{{UserInfo[0]}}</p>
			<input ng-blur="blurClick($event)" class="nameInput" ng-show="nameInputHide" type="text" ng-model="UserInfo[0]" name="NameInput">
		</div>

	<div class="description">
		<p ng-hide="descriptionHide" ng-click="descriptionClick()">{{UserInfo[1]}}</p>
		<input ng-blur="blurClick1($event)" class="descriptionInput" ng-show="descriptionInputHide" type="text" ng-model="UserInfo[1]" name="descriptionInput">
	</div>

	<div class="address">
		<p ng-hide="addressHide" ng-click="addressClick()">{{UserInfo[2]}}</p>
		<input ng-blur="blurClick2($event)" class="addressInput" ng-show="addressInputHide" type="text" ng-model="UserInfo[2]" name="addressInput">
	</div>
		<input type="submit">
	</form>
	</div>







		<script type="text/javascript" src="main.js"></script>
</body>
</html>