body {
	font-size: 14px;
	font-family: helvetica;
}

.profilePic {

	height: 200px;
	width: auto;
	margin: 20px;
	border: 5px gray solid;
	border-radius: 8px;
}

.name, .description, .address {

	height: 50px;
	width: 200px;
	border: 5px gray solid;
	border-radius: 8px;
	margin: 20px;
}

.nameInput, .descriptionInput, .addressInput {

	font-size: 14px;
	margin-top: 10px;
}